@import "../../custom";
.card {
  flex: 0 0 auto;
  @include tablet{
    flex: 0 0 33%;
  }
  box-sizing: border-box;
  //height: 320px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  white-space: nowrap; /* Отменяем перенос текста */
  overflow: hidden; /* Обрезаем содержимое */
  padding-top: 70px;
  padding-bottom: 70px;
  @include mobile{
    padding-top: 20px;
    padding-bottom: 50px;
  }
  text-overflow: ellipsis;
  font-size: 16px;
  color: #4c4b4b;
  .name{
    font-size: 24px;
    font-weight: 400;
    color: #212529;
  }
  .overflow {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis; /* Многоточие */
  }
  .photo {
    padding-bottom: 20px;
  }
  img {
    border-radius: 35px;
  }
}