@import "../../custom";

.about {
  width: 100%;
  padding-bottom: 95px;
  .image {
    text-align: center;
  }
  .info__text {
    margin: 0 auto;
  }

  .about__info {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 68px;
    @include tablet {
      flex-direction: row;
    }
    p {
      text-align: justify;
    }
  }
}

@include mobile {
  .about__title {
    text-align: center;
    padding-top: 70px;
    width: 325px;
    height: 25px;
    margin-left: 20px;
  }

  #img {
    width: 290px;
    height: 250px;
  }
  .info{
    .info__title{
      padding-top: 25px;
      padding-left: 17px;
    }
    .info__text {
      padding-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .button{
      padding-top: 30px;
      text-align: center;
    }
  }


}

@include tablet {
  .about__title {
    text-align: center;
    padding-top: 115px;
  }
  #img {
    width: 250px;
    height: 210px;
  }
  .info {
    padding-left: 30px;
    .info__title {
      text-align: start;
    }
    .info__text {
      padding-top: 18px;
      width: 430px;
      height: 205px;

    }
  }
  div.button {
    padding-top: 25px;
    text-align: start;
  }
}

@include desktop {
  .about {
    padding-top: 80px;
    padding-bottom: 155px;
    .about__title {
      padding-top: 70px;
    }
    #img {
      width: 340px;
      height: 285px;
    }
    .info {
      padding-left: 50px;
    }
    .info__text {
      width: 550px;
      height: 185px;
      padding-left: 14px;
    }

    div.button {
      padding-top: 24px;
      text-align: start;
    }
  }
}

.a-about {
  background-color: #fff;
  color: #ef5b4c;
  width: 94px;
  height: 17px;
  font-weight: 600;
  text-decoration: none;
}

.a-about:hover {
  color: #d24335;
}
