
.radio {
  display: flex;
  flex-direction: column;
  align-items: start;
  .radio_label{
    padding-bottom: 20px;
  }
  .radio__btn {
    padding-bottom: 2px;
    label {
      padding-left: 10px;
      display: inline-block;
      font-weight: normal;
      font-family: 'PT Sans',sans-serif;
    }
  }
}



