@import "src/custom";
.users__block{
  background-color: #f9f9f3;
  margin: 20px auto;
  @include tablet{padding-bottom: 150px;}

  .users__title{
    padding-top:35px;
    @include tablet{
      padding-top: 150px;
      margin-bottom: 70px;
    }
    text-align: center;
    h1{
    margin-bottom: 25px;}

  }
  .users {
    display: flex;
    flex-wrap: wrap;
    @include mobile{
      flex-direction: column;
    }
  }
  }
.btn-position{
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
}