@import "../../custom";

#upload {
  display: none;
}

.field {
  display: flex;
  justify-content: space-between;
}

.filename {
  font-weight: normal;
  padding-left: 15px;
}

.browse {
  border-radius: 4px;
  height: 38px;
  width: 83px;
  border-left: 1px solid #ced4da;
  font-weight: bold;
  background-color: #f8f7f5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
}
.browse.errored{
  border-left: 1px solid #db3445;
}
.browse:hover {
  cursor: pointer;
}


