@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "custom";
*,*:before,*:after{
  border:0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body, #root{
  height: 100%;
  font-family: 'Open Sans',sans-serif;
}

$primary-color: #ef5b4c;
$secondary-color: #007bff;
$background-color:#fff;
$background-color2:#f9f9f3;

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 100%;
  .app-header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
    justify-self: center;
    background-color: #fff;
    width: 100%;
  }
  .app-header:before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  .app-content{
    flex:1 0 auto;
    height: 100%;
  }
  .app-footer{
    flex: 0 0 auto;
    min-height: 20px;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }
}







