@import "../../custom";


.banner {
  background-image: url("../../assets/banner-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  width: 100%;
  .title{
    text-transform: uppercase;
    white-space: nowrap;
  }
}
@include mobile {
  .banner {
    background-image: url("../../assets/banner_mobile.jpg");
    background-size: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
      width: 300px;
      height: 90px;
      text-align: center;
      margin-top: -2px;
      }
    .simple__text {
      width: 330px;
      height: 65px;
      padding-top: 25px;
      p {
        text-align: center;
      }
    }
    .banner__button {
      margin-top: 60px;
      margin-left: -10px;
    }
  }
}
@include tablet {
  .banner {
    height: 500px;
    .title {
      padding-top: 60px;
      width: 403px;
      height: 118px;
      white-space: nowrap;
      padding-left: 30px;
      }
      .simple__text {
        width: 450px;
        height: 135px;
        padding-left: 30px;
        padding-top: 100px;
        p {
          text-align: left;
        }
      }
    .banner__button {
      margin-top: 140px;
    }
  }
}
@include desktop {
  .banner {
    height: 600px;
    .title {
      padding-top: 107px;
      width: 501px;
      height: 146px;
    }
    .simple__text {
      padding-top: 150px;
      width: 551px;
      height: 110px;
      padding-left: 30px;
      p {
        text-align: left;
      }
    }
    .banner__button {
      margin-top: 150px;
    }
  }
}
#banner__button{
  text-decoration: none;
}
.banner__button{
  display: flex;
  justify-content: center;
  align-items: center;
}

